# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Venv
# - Environements should always be called .venv
.venv

data

# VsCode
.vs/
.vscode/
.idea/
data

# Secret keys
*.secret

#SQL
*.backup